<section id="footer">
    <div class="footer container">
        <div class="brand">
            <h1 style="margin-left: 0px";><span>B</span>oite à <span>I</span>dées <span>I</span>nnovantes</h1>
        </div>
        <h2>Innover, Créer</h2>
        <div class="social-icon">
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/2x/twitter-circled.png" /></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/344/linkedin.png" /></a>
            </div>
        </div>
    </div>
</section>
