<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/home.css"/>
  <script type="text/javascript" src="{{ URL::asset('js/index.js') }}"></script>
  <title>Boite à idée innovante</title>
</head>

<body>
  <%- include('partials/header') %>
  <section id="hero">
    <div class="hero container">
      <% if(statut === 1 || statut === 2){ %>
        <div>
          <h1>La vision <span></span></h1>
          <h1>qui nourrit <span></span></h1>
          <h1>la créativité <span></span></h1>
        </div>
      <% } else{ %>
        <div>
          <h1>La vision <span></span></h1>
          <h1>qui nourrit <span></span></h1>
          <h1>la créativité <span></span></h1>
          <a href="login" type="button" class="cta">
            Commencer
          </a>
        </div>
      <% } %>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
</html>
