<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connection</title>
    <link rel="stylesheet" href="css/login.css" />
    <script
      type="text/javascript"
      src="{{ URL::asset('js/login.js') }}"
    ></script>
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form method="post" action="/login">
          <h1 class="h3 mb-3 fw-normal" id="titre">Se connecter</h1>
          <div class="form-group form-floating mb-3" style="width: 250px; margin-top: 50px;">
            <input
              type="text"
              class="form-control"
              name="username"
              placeholder="Entrez votre Email"
              required="required"
              autofocus
            />
          </div>

          <div class="form-group form-floating mb-3" style="width: 250px">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Entrez votre mot de passe"
              required="required"
            />
          </div>

          <button class="w-100 btn btn-lg btn-primary" type="submit">
            Se connecter
          </button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>Bienvenue</h1>
            <p>Commencer votre journée avec nous</p>
            <button class="ghost" id="signUp">
              <a href="register">S'inscrire</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
