@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title span {
    color: crimson;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: black;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.64);
}

.cta:hover {
    color: white;
    background-color: crimson;
    border-radius: 3px;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    margin-left: -90px;
    font-size: 2.4rem;
}

.brand h1 span {
    color: crimson;
}

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    background-color: black;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
    margin-right: -111px;
}

#header .nav-list ul.active {
    left: 0%;
}

#header .nav-list ul a {
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    font-size: 1.5rem;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: crimson;
    font-size: 1.5rem;
}

#header .nav-list ul li a {
    font-size: 1.5rem;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}

#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

@media only screen and (min-width: 1200px) {

    /* header */
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 1.5rem;
    }

    #header .nav-list ul a:after {
        display: none;
    }

    #about .about {
        flex-direction: row;
    }

    #about .about .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;
    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }

    #about .col-right h1 {
        text-align: left;
    }
}

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 3px;
}

#about .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}

#about .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}

#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: 0.3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p {
    color: white;
    font-size: 1.3rem;
}

#titre {
    border-radius: 10px;
    border-width: 1.5px;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.64);
}

#idea {
    width: 900px;
    height: 400px;
    border-radius: 10px;
    border-width: 3px;
    margin-top: 20px;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.64);
}

.idea_table {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 3.5px solid;
}

tr {
    border-spacing: 50em;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 15px solid;
}

th {
    font-size: 20px;
    position:relative;

}
span{
  color: crimson;
  text-transform: uppercase;
}



.idee_box{
  font-size: 15px;
  text-align: justify;
  padding: 10px;
}
.rating_box{
  width: 200px;
}
.titre_box{

}
th[colspan="3"] {
    text-align: center;
    margin-bottom: 25px;
}
.likebutton{
  margin-left: 1020px;
}
#myInput{
  margin-left: 1050px;
  position: absolute;
  height: 35px;
  width: 190px;
  border-radius: 3px;
  text-align: center;
  background-color: #f5f5f5;
}
